<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>
            MyAmazon
        </title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                My Amazon
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main class="main">
                <ul>
                    <li>Product1</li>
                    <li>Product2</li>
                    <li>Product3</li>
                    <li>Product4</li>
                    <li>Product5</li>
                </ul>
            </main>
            <footer class="footer">
                All rights reserved
            </footer>
        </div>
    </body>
</html>
